<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Account Info</title>

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous" />

</head>
<body>

<%- include('../partials/nav') %>
<div class="modal" id="promptModal" tabindex="-1" aria-labelledby="promptModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="promptModalLabel">Change Placeholder</h5>
            </div>
            <div class="modal-body">
                <form id="placeholderForm">
                    <div class="d-grid gap-2">
                        <label for="placeholder">Placeholder</label>
                        <input type="text" class="form-control" id="placeholder" required>
                        <label for="placeholder-confirm">Confirm Placeholder</label>
                        <input type="text" class="form-control" id="placeholder-confirm" required>
                        <p id="error-message" style="color: red; height: 1em;"></p>
                        <!-- Reserve space for the error message -->
                        <div class="d-flex justify-content-between" id="buttonContainer">
                            <button type="submit" class="btn btn-success" id="confirmBtn">Confirm</button>
                            <button type="button" class="btn btn-danger" id="cancelBtn">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="account-info">
    <h1>Account Information</h1>
    <div class="info-field form-group">
        <label>Username</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="username" readonly>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="change-username">Change</button>
            </div>
        </div>
    </div>
    <div class="info-field form-group">
        <label>Email</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="email" readonly>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="change-email">Change</button>
            </div>
        </div>

        <div id="unverified-container">
            <img id="warn-icon" src="/images/warn.svg" alt="Account">
            <span style="color: red;">Unverified Email</span>
            <a style="margin-left: 150px;" id="resend-link" href="#">Resend Verification Email</a>
        </div>
    </div>

    <div class="spacer"></div>

    <form id="changePasswordForm">
        <div class="info-field form-group">
            <label>Old Password</label>
            <div class="input-group mb-3">
                <input type="password" class="form-control" id="old-password" required>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="change-password">Change Password
                    </button>
                </div>
            </div>
        </div>
        <div class="info-field form-group">
            <label>New Password</label>
            <input type="password" class="form-control" id="new-password" required>
        </div>
        <div class="info-field form-group">
            <label>Confirm New Password</label>
            <input type="password" class="form-control" id="confirm-new-password" required>
        </div>
    </form>

    <div id="main-error-message" style="color: red; height: 1em;"></div>


    <div class="spacer"></div>

    <div class="logout">
        <button class="btn btn-outline-secondary" type="button" id="logoutBtn">Log Out</button>
    </div>

</div>


<style>
    body {
        background-color: #f0f0f0;
        margin: 0;
    }

    .account-info {
        width: 600px;
        padding: 20px;
        border: 1px solid #ccc;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        background-color: white;
        border-radius: 5px;
        margin: 60px auto 0;
        font-family: Arial, sans-serif;
    }

    .info-field {
        margin-bottom: 10px;
    }

    .info-field label {
        font-weight: bold;
        margin-top: 10px;
    }

    .input-group-append button {
        padding: 5px 10px;

        border-color: orange;
        color: orange;
        cursor: pointer;
        margin-left: 10px;
    }

    .logout button {
        background-color: firebrick; /* Make the button solid red */
        width: 200px; /* Adjust this value to make the button longer */
        display: block; /* This allows the button to be centered */
        margin: auto; /* This centers the button */
        color: white;
        border-color: white;
    }

    .input-group-append button:hover {
        color: white;
    }

    .spacer {
        margin-top: 90px;
    }

    .modal-title {
        font-size: 2em;
    }

    .modal-dialog {
        margin-top: -10vh;
    }

    #buttonContainer button {
        width: 45%;
        margin-top: 20px;
    }

    #unverified-container {
        display: flex;
        align-items: center;
    }

    #warn-icon {
        width: 16px;
        height: 16px;
        margin-right: 5px;
    }

    #unverified-container {
        visibility: hidden;
    }
</style>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="account.js"></script>
</body>
</html>
